*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 100%;
    display: block;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px lightgrey;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

ul{
    list-style-type: none;
}

li{
    float: left;
}

.nav-bar a{
    text-decoration: none;
    color: #000;
    padding: 12px;
    display: inline-block;
}

.nav-bar li:hover:not(.search){
    background-color: #CCCCCC;
}

.nav-bar .search:hover{
    background-color: #F44336;
}

.nav-bar .search:hover .fas{
    color: #fff;

}

.hero-section{
    opacity: 0.8;
    background: url('../IMAGE/parallax1.jpg') center/cover;
    height: 400px; 
    position: relative; 
}

/* FOR HEADER CONTAINER */

.hero-bg .website-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-bg .website-logo{
    background-color: #000;   
}

.hero-bg .phone{
    display: none;
}

.hero-bg .website-logo h2{
    color: #fff;
    letter-spacing: 5px;
    word-spacing: 5px;
    padding: 5px 20px;
    font-weight: 400;
}

/* ABOUT ME */
.about-me{
    width: 70%;
    margin:50px auto;
}

.about-me .centralised{
    font-weight: 400;
    margin-top: 20px;
}

.opacity-section{
    opacity: 0.6;
}

.about-me .italicised-para, .about-me .centralised{
    text-align: center;
}

.about-me .italicised-para{
    margin: 20px 0;
}

.about-me p{
    /* word-spacing: ; */
    line-height: 1.5;
}

.my-name-left h2{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.my-name{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.my-name-left{
    width: 40%;
}

.my-name-right{
    width: 55%;
}

/* DOUBLE DIV */
.photo, .web, .shop{
    background-color: #F1F1F1;
}

.double-div .good{
    text-align: center;
    font-size: 22px;
}

.photo-color{
    background-color: #616161;
    width: 90%;
    padding: 6px;
}

.photo-color p, .web-color p, .shop-color p{
    text-align: center;
    color: #fff;
}

.web-color{
    background-color: #616161;
    width: 85%;
    padding: 6px;
}

.shop-color{
    background-color: #616161;
    width: 75%;
    padding: 6px;
}

.skill{
    margin-top: 20px;
}

.skill h3{
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 8px;
}

/* FOR PORTFOLIO */
.portfolio-bg{
    background: url('../IMAGE/parallax2.jpg') center/cover;
    height: 400px;
    position: relative;
    opacity: 0.6;
}

.portfolio-bg h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 8px;
}

.portfolio-gray{
    background-color: #616161;
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}

.width h2, .width p{
    color: #fff;
    text-align: center;
}

.portfolio .width{
    width: 10%;
}

/* FOR ROW */
.my-work-session{
    width: 70%;
    margin: 60px auto;
    text-align: center;
}

.my-work-session h2{
    font-weight: 400;
    margin-bottom: 20px;
}

.para-margin{
    margin: 20px 0;
    opacity: 0.6;
}

.my-work-session p{
    line-height: 1.5;
}

.my-work-session h2, .my-work-session p{
    text-align: center;
}

.row2{
    margin-top: 15px;
}

.row{
    display: flex;
    justify-content: space-between;
}

 input[type=submit]{
    padding: 10px;  
}

.pictures:hover{
    opacity: 0.6;
}

.pictures{
    width: 24%;
}

/* CONTACT DIV */
.camera{
    height: 400px;
    background: url('../IMAGE/camera.jpg') center/cover;
    opacity: 0.6;
    position: relative;
}

.camera h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 8px;
}

.load-more{
    display: inline-block;
    text-decoration: none;
    margin: 40px 0 0 0;
    color: #000;
    background-color: #ccccccb2;
    padding: 12px 15px;
}

.load-more:hover{
    background-color: #ccc;
}

/* WORK CONTAINER */
.work-container{
    width: 70%;
    margin: auto;
    padding: 60px 0;
}

.work-container h2, .first-paragraph{
    text-align: center;
}

.work-container h2, .work-container h3{
    font-weight: 400;
}

.work-container h3, .work-container p{
    margin: 10px 0;
}

.opacity-color{
    opacity: 0.6;
}

.work{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.map{
    width: 30%;
}

.form-location{
    width: 65%;
}

.form-location .fas{
    margin-right: 8px;
}

.form-location input{
    padding: 12px;
}

.name-email{
    display: flex;
    justify-content: space-between;
}

.name-email input{
    width: 49%;
    margin-bottom: 8px;
}

.work ::placeholder{
    font-size: 16px;
}
.message{
    width: 100%;
}

.send-message{
    float: right;
    margin-top: 12px;
    border: none;
    color: #fff;
    background-color: #000;
}

.send-message:hover{
    background-color: #CCCCCC;
    color: #000;
}

/* FOOTER */
footer{
    background-color: #ccc;
    padding: 80px 0;
}
footer:hover{
    background-color: #000000;
}

.footer-content{
    text-align: center;
}


footer p{
    margin-bottom: 15px;
    color: #fff;
}

footer .footer-content .top{
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    background: #fff;
    color: #000;
    display: inline-block;
    text-align: center;
}

footer .top:hover{
    background-color: gray;
}

footer .footer-content .bottom{
    color: #fff;
}

footer .footer-content .bottom:hover{
    color: green;
}

footer .fab{
    font-size: 25px;
    color: #fff;
}

footer .fab:hover{
    color: #8F8F8F;
}

/* FOR TABLET MODE */
@media screen and (max-width: 768px) {
    .hero-bg .website-logo h2{
        padding: 5px 20px;
        font-size: 18px;
    }

    .work-container{
        width: 90%;
    }

    .nav-bar a{
        font-size: 12px;
    }
}

/*  */
@media screen and (max-width: 600px) {
    .hero-bg .laptop{
        display: none;
    }

    .about-me{
        width: 95%;
        margin:50px auto;
    }

    .hero-bg .phone, .my-name, .portfolio-gray, .work, .name-email, .row{
        display: block;
    }

    .my-name-left, .portfolio .width, .form-location, .map, .pictures, .my-name-right{
        width: 100%;
    }

    .portfolio .width:not(:last-child){
        margin-bottom: 40px;
    }

    .my-work-session{
        width: 85%;
    }
    

    .name-email input{
        width: 100%;
        margin-bottom: 8px;
    }

    .pictures{
        margin-bottom: 5px;
    }

    .row2{
        margin-top: 5px;
    }
}

/* FOR MOBILE DESIGN */
@media screen and (max-width: 426px) {
    .hero-bg .website-logo h2{
        padding: 5px 20px;
        font-size: 18px;
    }

    .hero-bg .laptop{
        display: none;
    }

    .about-me{
        width: 95%;
        margin:50px auto;
    }

    .hero-bg .phone, .my-name, .portfolio-gray, .work, .name-email, .row{
        display: block;
    }

    .my-name-left, .portfolio .width, .form-location, .map, .pictures{
        width: 100%;
    }
    
    .my-name-right{
        width: 100%;
        display: none;
    }

    .portfolio .width:not(:last-child){
        margin-bottom: 40px;
    }

    .my-work-session{
        width: 85%;
    }

    .name-email input{
        width: 100%;
        margin-bottom: 8px;
    }

    .pictures{
        margin-bottom: 5px;
    }

    .row2{
        margin-top: 5px;
    }
}

@media screen and (max-width:320px) {
    .hero-bg .website-logo h2{
        font-size: 12px;
    }
}